<td class="sno-block">{{sno}}</td>
<td class="name-block">{{name}}</td>
<td class="time-block"><input type="date" val="{{startDate}}"></td>
<td class="time-block"><input type="date" val="{{endDate}}"></td>
<td class="daySpent-block">{{daySpent}}</td>